@{title(CONF.name)}

<header>
	<a href="/" class="logo"><img src="/img/logo.svg" alt="@{'%name'}" border="0" /></a>
	<p>@(OpenSocial is the <b>NextGen social network</b> for everyone)</p>
</header>
<br />
<br />
<div class="container">
	<div class="row">
		<div class="col-sm-4 m">
			<h2 class="center">Good privacy</h2>
			<p class="center">OpenSocial keeps good privacy for users and ensures European Union GDPR compliance.</p>
		</div>
		<div class="col-sm-4 m">
			<h2 class="center">Open-Source</h2>
			<p class="center">OpenSocial is fully open-source and customizable, it's open solution for everyone.</p>
		</div>
		<div class="col-sm-4 m">
			<h2 class="center">Unified</h2>
			<p class="center">OpenSocial is unified as one super-powerful social networking platform.</p>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="/login/" class="linkbutton"><i class="fa fa-lock"></i>Sign-in with OpenSocial</a>
		</div>
	</div>
</div>
<br />
<br />