/*auto*/

$font     : 'Source Sans Pro';
$color    : #FF8711;

html,body { height: 100%; overflow: hidden; margin: 0; padding: 0; background-color: #F0F0F0; }

header { padding: 80px 0; border-bottom: 1px solid #E0E0E0; margin: 0; background-color: white; }
header .logo { display: block; max-width: 300px; margin: 0 auto; }
header .logo img { width: 100%; }
header p { text-align: center; font-size: 20px; color: gray; font-family: $font; margin: 15px 0 0; }

h2 { font-family: $font; font-size: 20px; color: black; margin: 0; padding: 0; }
hr { border-color: #E0E0E0;}

.bg-smoke { background-color: #F0F0F0; }
.color { color: $color; }
.orange { color: $color; }

.linkbutton { padding: 20px 0; border-radius: 3px; width: 100%; display: block; text-align: center; text-decoration: none !important; background-color: $color; color: white; font-weight: bold; font-size: 18px; font-family: $font; }
.linkbutton i { margin-right: 8px; }
.linkbutton:hover { opacity: 0.8; }

.panel { background-color: white; border-radius: 3px; border: 1px solid #E0E0E0; width: 100%; transition: all 0.2s; }
.panel > label { display: block; padding: 15px 15px; border-bottom: 1px solid #E0E0E0; font-size: 14px; font-weight: bold; }
.panel > label i { margin-right: 5px; }
.panel .body { padding: 20px; position: relative; }
.panel-shadow { box-shadow: 2px 2px 20px rgba(0,0,0,0.02); }
.panel-animate { transform: scale(0.5); opacity: 0; }

.centered { display: table; width: 100%; height: 100%; }
.centered-body { display: table-cell; vertical-align: middle; }
.maxwidth { max-width: 600px; margin: 0 auto; }
.maxwidth2 { max-width: 300px; margin: 0 auto; }

.fs12 { font-size: 12px; }

.linksocial { display: block; padding: 0; border-radius: 3px; margin-bottom: 8px; text-decoration: none !important; background-color: #E0E0E0; color: white; }
.linksocial i { float: left; width: 34px; border-right: 1px solid rgba(255,255,255,0.5); line-height: 34px; text-align: center; }
.linksocial span { display: block; margin-left: 45px; line-height: 34px; }
.linksocial:hover { opacity: 0.8; }

.button { background-color: $color; border: 0; color: white; cursor: pointer; outline: 0; width: 100%; border-radius: 3px; height: 38px; text-transform: uppercase; font-family: Arial; font-weight: bold; }
.button i { margin-right: 5px; }
.button:hover { box-shadow: 0 2px 5px rgba(0,0,0,0.1); opacity: 0.9; }
.button:disabled { background-color: #E0E0E0; color: silver; cursor: not-allowed; box-shadow: none; opacity: 1; }

@media(max-width: 768px) {
	html,body { overflow: auto; overflow-scrolling: touch; background-color: white; }
}